.educationComponent2 {
  height: 40vh;
  width: 30vw;
  padding: 20px;
  font-size: 2.4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.educationInp {
  height: 30px;
}

.addEducationBtn {
  background-color: #8cc1e0;
  color: #ffffff;
}

.educationP {
  font-weight: 600;
}

.educationDivs {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.educationDivs p {
  margin: 0;
}
