.generalInfoComponent1 {
  height: 25vh;
  width: 30vw;
  padding: 20px;
  font-size: 2.4vh;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form {
  display: flex;
  flex-direction: column;
}

.personalInf {
  height: 30px;
}

.persInfo {
  font-weight: 600;
}

@media (max-width: 750px) {
  .generalInfoComponent1 {
    width: 70vw;
    height: 30vh;
  }
}
