.generalInfoComponent3 {
  height: 40vh;
  width: 30vw;
  padding: 20px;
  font-size: 2.4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.workInp,
.workYearsInp {
  height: 30px;
}

.workYears {
  display: flex;
  justify-content: space-between;
}

.addExperienceBtn {
  background-color: #8cc1e0;
  color: #ffffff;
}

.expP {
  font-weight: 600;
}

@media (max-width: 900px) {
  .workYears {
    flex-direction: column;
  }

  .generalInfoComponent3 {
    height: 50vh;
  }
}

@media (max-width: 750px) {
  .generalInfoComponent3 {
    width: 70vw;
  }
}
