#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(239, 241, 242);
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.rightContainer {
}

@keyframes logo-spin {
}

@media (prefers-reduced-motion: no-preference) {
}
